<header class="navbar">
  <div class="container">
    <div id="logo">School</div>
    <ul class="header-right">
      <li><%= link_to "ホーム画面", root_path %></li>
      <li><%= link_to "掲示板", about_path %></li>
    </ul>
  </div>
</header>
<div class = "1">
<h1>相談掲示板</h1>

</div>

