<% provide(:title, "TOP") %>
<div class="container">
  <div class="row">
    <div class="col-xs-7 content">skyway</div>
    <div class="col-xs-5 RadarChart">評価グラフ</div>
    <button type="button" class="btn btn-primary btn-lg active button">Primary button</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 commentList">aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

  </div>
</div>

<form>
  <div class="form-group">
    <label id="commentArea">Comment</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary submitbtn">送信</button>
</form>