<header class="navbar">
  <div class="container">
    <div id="logo">School Board</div>
    <ul class="header-right">
      <li><%= link_to "ホーム画面", root_path %></li>
      <li><%= link_to "掲示板", about_path %></li>
      <li><%= link_to "録画授業", root_path %></li>
    </ul>
  </div>
</header>

<h1></h1>


